# Raw video files
videos/
VIDEOs/

# FFmpeg binary
ffmpeg

# Processing script
process_videos.py
concat.txt
processed_clips/

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Misc
*.log
